body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0051a5;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}
